<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Sébastien Lavoie">
  <meta name="description" content="Freelance motion designer and After Effects script developer from Québec, Canada">
  <title>Sébastien Lavoie | Freelance motion designer</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- <link rel="stylesheet" href="{{ "css/lib/bootstrap.min.css" }}" type="text/css"> -->
  <link rel="stylesheet" href="{{ "/css/site.css" }}" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lity/2.3.0/lity.css" type="text/css">
  <link data-fontset-id="ce-fontset" href="https://fonts.googleapis.com/css?family=Fauna+One" rel="stylesheet">
  <link data-fontset-id="ce-fontset" href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
</head>